In [1]:
import pandas as pd

In [9]:
df2016 = pd.read_csv("2016-building-energy-benchmarking.csv")
df2017 = pd.read_csv("2017_Building_Energy_Benchmarking.csv")

In [10]:
df2017.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity,DefaultData,ComplianceStatus,Outlier
0,1,2017,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,2122835.75,1.157783e+06,3.950356e+06,12884.63,1288462.99,197.63,2.235,N,Compliant,NaN
1,2,2017,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,NaN,8.841610e+05,3.016757e+06,47880.87,4788086.72,266.78,2.576,N,Compliant,NaN
2,3,2017,Campus,Hotel,84SC9-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,24313482.00,1.427692e+07,4.871284e+07,14440.00,1444000.10,1570.75,1.643,N,Compliant,NaN
3,5,2017,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,SEATTLE,WA,98101.0,0659000640,...,2228119.50,8.817449e+05,3.008514e+06,21355.88,2135587.89,244.32,3.984,N,Compliant,NaN
4,8,2017,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,NaN,1.523506e+06,5.198202e+06,91375.76,9137575.78,506.80,2.886,N,Compliant,NaN

In [12]:
df2016.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [16]:
#columns to drop: City, State, PropertyGFABuilding(s), TaxParcelIdentificationNumber + 2016 Comments
drop_2016 = ['City', 'State', 'PropertyGFABuilding(s)', 'TaxParcelIdentificationNumber', 'Comments']
drop_2017 = ['City', 'State', 'PropertyGFABuilding(s)', 'TaxParcelIdentificationNumber']

In [17]:
df2016.drop(drop_2016, axis=1, inplace=True)

In [18]:
df2016.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,ZipCode,CouncilDistrictCode,Neighborhood,Latitude,...,SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,98101.0,7,DOWNTOWN,47.61220,...,2003882.00,1.156514e+06,3946027.0,12764.52930,1276453.0,False,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,98101.0,7,DOWNTOWN,47.61317,...,0.00,9.504252e+05,3242851.0,51450.81641,5145082.0,False,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,98101.0,7,DOWNTOWN,47.61393,...,21566554.00,1.451544e+07,49526664.0,14938.00000,1493800.0,False,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,98101.0,7,DOWNTOWN,47.61412,...,2214446.25,8.115253e+05,2768924.0,18112.13086,1811213.0,False,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,98121.0,7,DOWNTOWN,47.61375,...,0.00,1.573449e+06,5368607.0,88039.98438,8803998.0,False,Compliant,NaN,505.01,2.88

In [19]:
df2017.drop(drop_2017, axis=1, inplace=True)

In [20]:
df2017.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,ZipCode,CouncilDistrictCode,Neighborhood,Latitude,...,SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity,DefaultData,ComplianceStatus,Outlier
0,1,2017,NonResidential,Hotel,Mayflower park hotel,405 Olive way,98101.0,7.0,DOWNTOWN,47.61220,...,2122835.75,1.157783e+06,3.950356e+06,12884.63,1288462.99,197.63,2.235,N,Compliant,NaN
1,2,2017,NonResidential,Hotel,Paramount Hotel,724 Pine street,98101.0,7.0,DOWNTOWN,47.61317,...,NaN,8.841610e+05,3.016757e+06,47880.87,4788086.72,266.78,2.576,N,Compliant,NaN
2,3,2017,Campus,Hotel,84SC9-The Westin Seattle,1900 5th Avenue,98101.0,7.0,DOWNTOWN,47.61393,...,24313482.00,1.427692e+07,4.871284e+07,14440.00,1444000.10,1570.75,1.643,N,Compliant,NaN
3,5,2017,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,98101.0,7.0,DOWNTOWN,47.61412,...,2228119.50,8.817449e+05,3.008514e+06,21355.88,2135587.89,244.32,3.984,N,Compliant,NaN
4,8,2017,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,98121.0,7.0,DOWNTOWN,47.61375,...,NaN,1.523506e+06,5.198202e+06,91375.76,9137575.78,506.80,2.886,N,Compliant,NaN

In [22]:
df2016.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'ZipCode', 'CouncilDistrictCode',
       'Neighborhood', 'Latitude', 'Longitude', 'YearBuilt',
       'NumberofBuildings', 'NumberofFloors', 'PropertyGFATotal',
       'PropertyGFAParking', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'ComplianceStatus', 'Outlier',
       'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')

In [25]:
columns_2016 = df2016.columns.tolist()

In [26]:
df2017 = df2017[columns_2016]

In [73]:
df_16_17 = pd.concat([df2016, df2017], axis=0)

In [74]:
df_16_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6837 entries, 0 to 3460
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    6837 non-null   int64
 1   DataYear                         6837 non-null   int64
 2   BuildingType                     6837 non-null   object
 3   PrimaryPropertyType              6832 non-null   object
 4   PropertyName                     6816 non-null   object
 5   Address                          6837 non-null   object
 6   ZipCode                          6800 non-null   float64
 7   CouncilDistrictCode              6820 non-null   float64
 8   Neighborhood                     6820 non-null   object
 9   Latitude                         6820 non-null   float64
 10  Longitude                        6820 non-null   float64
 11  YearBuilt                        6836 non-null   float64
 12  NumberofBuildings                6808 non-null   float64
 13  NumberofFloors                   6830 non-null   float64
 14  PropertyGFATotal                 6837 non-null   int64
 15  PropertyGFAParking               5520 non-null   float64
 16  ListOfAllPropertyUseTypes        6807 non-null   object
 17  LargestPropertyUseType           6795 non-null   object
 18  LargestPropertyUseTypeGFA        6795 non-null   float64
 19  SecondLargestPropertyUseType     3425 non-null   object
 20  SecondLargestPropertyUseTypeGFA  3425 non-null   float64
 21  ThirdLargestPropertyUseType      1206 non-null   object
 22  ThirdLargestPropertyUseTypeGFA   1206 non-null   float64
 23  YearsENERGYSTARCertified         265 non-null    object
 24  ENERGYSTARScore                  4988 non-null   float64
 25  SiteEUI(kBtu/sf)                 6797 non-null   float64
 26  SiteEUIWN(kBtu/sf)               6785 non-null   float64
 27  SourceEUI(kBtu/sf)               6795 non-null   float64
 28  SourceEUIWN(kBtu/sf)             6782 non-null   float64
 29  SiteEnergyUse(kBtu)              6799 non-null   float64
 30  SiteEnergyUseWN(kBtu)            6785 non-null   float64
 31  SteamUse(kBtu)                   3504 non-null   float64
 32  Electricity(kWh)                 6801 non-null   float64
 33  Electricity(kBtu)                6801 non-null   float64
 34  NaturalGas(therms)               5557 non-null   float64
 35  NaturalGas(kBtu)                 5557 non-null   float64
 36  DefaultData                      6837 non-null   object
 37  ComplianceStatus                 6837 non-null   object
 38  Outlier                          64 non-null     object
 39  TotalGHGEmissions                6828 non-null   float64
 40  GHGEmissionsIntensity            6828 non-null   float64
dtypes: float64(25), int64(3), object(13)
memory usage: 2.2+ MB

In [75]:
#SiteEUI(kBtu/sf) : NaturalGas(kBtu)
to_zero = df_16_17.loc[:, 'SiteEUI(kBtu/sf)':'NaturalGas(kBtu)'].columns.tolist()

In [45]:
#df_2016_17[to_zero] = df['DataFrame Column'].fillna(0)

,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf),SourceEUI(kBtu/sf),SourceEUIWN(kBtu/sf),SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu)
0,81.699997,84.300003,182.500000,189.000000,7.226362e+06,7.456910e+06,2003882.00,1.156514e+06,3.946027e+06,12764.52930,1276453.00
1,94.800003,97.900002,176.100006,179.399994,8.387933e+06,8.664479e+06,0.00,9.504252e+05,3.242851e+06,51450.81641,5145082.00
2,96.000000,97.699997,241.899994,244.100006,7.258702e+07,7.393711e+07,21566554.00,1.451544e+07,4.952666e+07,14938.00000,1493800.00
3,110.800003,113.300003,216.199997,224.000000,6.794584e+06,6.946800e+06,2214446.25,8.115253e+05,2.768924e+06,18112.13086,1811213.00
4,114.800003,118.699997,211.399994,215.600006,1.417261e+07,1.465650e+07,0.00,1.573449e+06,5.368607e+06,88039.98438,8803998.00
...,...,...,...,...,...,...,...,...,...,...,...
3456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457,18.800000,18.800000,36.500000,36.500000,1.349080e+06,1.349080e+06,NaN,1.682466e+05,5.740574e+05,7750.23000,775022.95
3458,54.600000,54.700000,121.000000,121.000000,9.024829e+05,9.027771e+05,NaN,1.472702e+05,5.024859e+05,3999.97000,399997.00
3459,39.400000,NaN,123.000000,NaN,1.837727e+06,NaN,NaN,5.344369e+05,1.823499e+06,NaN,NaN
3460,59.700000,57.500000,118.600000,114.800000,3.569798e+06,3.433284e+06,NaN,4.684949e+05,1.598505e+06,19712.93000,1971292.77

In [76]:
to_zero

['SiteEUI(kBtu/sf)',
 'SiteEUIWN(kBtu/sf)',
 'SourceEUI(kBtu/sf)',
 'SourceEUIWN(kBtu/sf)',
 'SiteEnergyUse(kBtu)',
 'SiteEnergyUseWN(kBtu)',
 'SteamUse(kBtu)',
 'Electricity(kWh)',
 'Electricity(kBtu)',
 'NaturalGas(therms)',
 'NaturalGas(kBtu)']

In [77]:
df_16_17[to_zero] = df_16_17[to_zero].fillna(0)

In [89]:
df_16_17 = df_16_17[df_16_17['Electricity(kWh)'] != 0]
df_16_17 = df_16_17[df_16_17['SiteEnergyUse(kBtu)'] != 0]

In [91]:
df_16_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6766 entries, 0 to 3460
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    6766 non-null   int64
 1   DataYear                         6766 non-null   int64
 2   BuildingType                     6766 non-null   object
 3   PrimaryPropertyType              6766 non-null   object
 4   PropertyName                     6766 non-null   object
 5   Address                          6766 non-null   object
 6   ZipCode                          6750 non-null   float64
 7   CouncilDistrictCode              6749 non-null   float64
 8   Neighborhood                     6749 non-null   object
 9   Latitude                         6749 non-null   float64
 10  Longitude                        6749 non-null   float64
 11  YearBuilt                        6765 non-null   float64
 12  NumberofBuildings                6766 non-null   float64
 13  NumberofFloors                   6759 non-null   float64
 14  PropertyGFATotal                 6766 non-null   int64
 15  PropertyGFAParking               5451 non-null   float64
 16  ListOfAllPropertyUseTypes        6766 non-null   object
 17  LargestPropertyUseType           6755 non-null   object
 18  LargestPropertyUseTypeGFA        6755 non-null   float64
 19  SecondLargestPropertyUseType     3413 non-null   object
 20  SecondLargestPropertyUseTypeGFA  3413 non-null   float64
 21  ThirdLargestPropertyUseType      1200 non-null   object
 22  ThirdLargestPropertyUseTypeGFA   1200 non-null   float64
 23  YearsENERGYSTARCertified         264 non-null    object
 24  ENERGYSTARScore                  4981 non-null   float64
 25  SiteEUI(kBtu/sf)                 6766 non-null   float64
 26  SiteEUIWN(kBtu/sf)               6766 non-null   float64
 27  SourceEUI(kBtu/sf)               6766 non-null   float64
 28  SourceEUIWN(kBtu/sf)             6766 non-null   float64
 29  SiteEnergyUse(kBtu)              6766 non-null   float64
 30  SiteEnergyUseWN(kBtu)            6766 non-null   float64
 31  SteamUse(kBtu)                   6766 non-null   float64
 32  Electricity(kWh)                 6766 non-null   float64
 33  Electricity(kBtu)                6766 non-null   float64
 34  NaturalGas(therms)               6766 non-null   float64
 35  NaturalGas(kBtu)                 6766 non-null   float64
 36  DefaultData                      6766 non-null   object
 37  ComplianceStatus                 6766 non-null   object
 38  Outlier                          64 non-null     object
 39  TotalGHGEmissions                6766 non-null   float64
 40  GHGEmissionsIntensity            6766 non-null   float64
dtypes: float64(25), int64(3), object(13)
memory usage: 2.2+ MB

In [93]:
df_16_17.to_csv("2016-2017-building-energy-benchmarking.csv", index=False)